body {
    font-family: sans-serif;
}

h1 {
   color: blue;
   font-family: sans-serif; 
}

.second-li code {
    color: green;
}

code {
    color: red;
    font-family: monospace;
}

li {
    font-family: inherit;
}


